/* TABLE OF CONTENT
======================================
# 1. Main Styles
# 2. Text
# 3. Header
# 4. Intro
# 5. Message 1
# 6. Photo 1
# 7. Photo 2
# 8. Photo 3
# 9. Photo 4567
#10. Location
#11. Contact
#12. Accounts
#13. Responsive
======================================
*/

/*# 1. Main Styles*/
@font-face {
    font-family: 'MapoFlowerIsland';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoFlowerIslandA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
  font: 300 15px/24px MapoFlowerIsland;
  min-height: 100%;
  height: 100%;
  color: #000;
}

body b {
  font: 500 15px/24px MapoFlowerIsland;
}

html {
  min-height: 100%;
  height: 100%
}

.page {
  min-height: 100%;
  position: relative;
  height: 100%;
}

section {
  width: 100%;
  overflow: hidden;
  text-align: center;
  position: relative;
  padding: 0
}

a {
  color: #6F6F6F;
}

.container {
  position: relative;
  z-index: 1;
  padding: 40px 16px 40px;
  max-width: 970px
}

.btn1 {
  font: 500 14px MapoFlowerIsland;
  padding: 8px;
  border-radius: 1;
  margin: 20px 4px;
  overflow: hidden;
  position: relative;
  background: none;
  min-width: 88px;
  min-height: 36px;
  transition: 0.5s all;
}

.btn:active, .btn:focus {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  color: #FFF !important
}

/*# 4. Intro*/
.home_intro {
  background-size: 640px auto;
  width: 100%;
  height: 2966px;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
}

/*# 5. Photo1*/

.photo1 {
  background-size: 640px auto;
  width: 100%;
  height: 3000px;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
}

/*# 7. Photo2*/

.photo2 {
  background-size: 640px auto;
  width: 100%;
  height: 1650px;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
}

/*# 8. Photo_TP*/

.photo_tp{
  background-size: 640px auto;
  width: 100%;
  height: 1256px;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
}

.photo3_btn {
  position: absolute;
  margin: 0;
  width: 100%;
  bottom: 930px;
}

.btn {
  font:500 20px MapoFlowerIsland;
  padding: 8px 6px;
  border: none;
  overflow: hidden;
  position: relative;
  background: none;
  min-width: 88px;
  min-height: 36px;
  transition: 0.5s all;
  color: #DB7093;
}

.location_link{
  position: absolute;
  margin: 0;
  width: 100%;
  bottom: 425px;
  text-align: center;
}

.map-icon{
  border:1px solid;
  border-color: #c4c4c4;
  border-radius: 8px
}

/*# 7. Photo2*/

.photo4 {
  background-size: 640px auto;
  width: 100%;
  height: 800px;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
}


/*# 11. Contact */
h2 {
  font: 28px/32px MapoFlowerIsland
}

h3 {
  font: 20px/28px MapoFlowerIsland
}

h3 b{
  font: 24px/32px MapoFlowerIsland
}

h4 {
  font: 20px/28px MapoFlowerIsland
}

h4 b{
  font: 20px/28px MapoFlowerIsland
}

h5 {
  font: 20px/28px MapoFlowerIsland
}

h5 b{
  font: 24px/32px MapoFlowerIsland
}

h6 {
  font : 10px/12px 
}

/*# 13. Responsive*/

@media (max-width: 375px) {
  .home_intro {
    background-size:375px auto;
    height:1737px;
  }
  
  .photo1 {
    background-size: 375px auto;
    height:1757px;
  }

  .photo2 {
    background-size: 375px auto;
    height:966px;
  }

  .photo_tp {
    background-size: 375px auto;
    height:735px;
  }

  .photo3_btn {
    position: absolute;
    margin: 0;
    width: 100%;
    bottom: 540px;
  }

  .photo4 {
    background-size: 375px auto;
    height:468px;
  }

  .btn {
    font:500 15px MapoFlowerIsland;
    min-width: 40px;
    color: #DB7093;
    height: 10px;
    padding: 0px 0px;
    border: none;
  }

  .location_link{
    bottom: 243px;
    text-align: center;
  }

  .map-icon{
    width: 25px;
  }

  h3 {
    font: 14px/20px MapoFlowerIsland
  }

  h3 b {
    font: 16px/24px MapoFlowerIsland
  }

  h4 {
    font: 14px/20px MapoFlowerIsland
  }

  h4 b{
    font: 14px/20px MapoFlowerIsland
  }

  h5 {
    font: 14px/18px MapoFlowerIsland
  }

  h5 b {
    font: 22px/30px MapoFlowerIsland
  }

  h6 {
    font : 10px/12px 
  }

  .tsicon {
    width: 16px;
  }

  .tsicon0 {
    height: 16px;
  }


}

@media (max-width: 360px) {
  .home_intro {
    background-size:360px auto;
    height:1668px;
  }
  
  .photo1 {
    background-size: 360px auto;
    height:1688px;
  }

  .photo2 {
    background-size: 360px auto;
    height:928px;
  }

  .photo_tp {
    background-size: 360px auto;
    height:706px;
  }

  .photo3_btn {
    position: absolute;
    margin: 0;
    width: 100%;
    bottom: 520px;
  }

  .photo4 {
    background-size: 375px auto;
    height:450px;
  }

  .btn {
    font:500 12px MapoFlowerIsland;
    color: #DB7093;
    min-width: 40px;
    height: 10px;
    padding: 0px 0px;
    border: none;
  }

  .location_link{
    bottom: 237px;
    text-align: center;
  }

  .map-icon{
    width: 22px;
  }

  h3 {
    font: 14px/20px MapoFlowerIsland
  }

  h3 b {
    font: 16px/24px MapoFlowerIsland
  }

  h4 {
    font: 14px/20px MapoFlowerIsland
  }

  h4 b{
    font: 14px/20px MapoFlowerIsland
  }

  h5 {
    font: 14px/18px MapoFlowerIsland
  }

  h5 b {
    font: 22px/30px MapoFlowerIsland
  }

  h6 {
    font : 10px/12px 
  }

  .tsicon {
    width: 16px;
  }

  .tsicon0 {
    height: 16px;
  }


}