/* TABLE OF CONTENT
======================================
# 1. Main Styles
# 2. Text
# 3. Header
# 4. Intro
# 5. Message 1
# 6. Photo 1
# 7. Photo 2
# 8. Photo 3
# 9. Photo 4567
#10. Location
#11. Contact
#12. Accounts
#13. Responsive
======================================
*/

/*# 1. Main Styles*/
body {
  font: 300 15px/24px Nanum Myeongjo;
  min-height: 100%;
  height: 100%;
  color: #000;
}

body b {
  font: 500 15px/24px Nanum Myeongjo;
}

html {
  min-height: 100%;
  height: 100%
}

.page {
  min-height: 100%;
  position: relative;
  height: 100%;
}

section {
  width: 100%;
  overflow: hidden;
  text-align: center;
  position: relative;
  padding: 0
}

a {
  color: #6F6F6F;
}

.container {
  position: relative;
  z-index: 1;
  padding: 40px 16px 40px;
  max-width: 970px
}

.btn1 {
  font: 500 14px Nanum Myeongjo;
  padding: 8px;
  border-radius: 1;
  margin: 20px 4px;
  overflow: hidden;
  position: relative;
  background: none;
  min-width: 88px;
  min-height: 36px;
  transition: 0.5s all;
}

.btn:active, .btn:focus {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  color: #FFF !important
}

/*# 4. Intro*/
.home_intro {
  background-size: 640px auto;
  width: 100%;
  height: 1475px;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
}

/*# 5. Photo1*/

.photo1 {
  background-size: 640px auto;
  width: 100%;
  height: 2500px;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
}

/*# 7. Photo2*/

.photo2 {
  background-size: 640px auto;
  width: 100%;
  height: 3000px;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
}

/*# 8. Photo_TP*/

.photo_tp{
  background-size: 640px auto;
  width: 100%;
  height: 640px;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
}

.photo3_btn {
  position: absolute;
  margin: 0;
  width: 100%;
  bottom: 80px;
}

.btn {
  font:500 28px Nanum Myeongjo;
  border-radius: 1;
  padding: 8px 6px;
  border: 1px solid gray;
  overflow: hidden;
  position: relative;
  background: none;
  min-width: 88px;
  min-height: 36px;
  transition: 0.5s all;
}

/*# 9. Location */

.photo_location {
  background-size: 640px auto;
  width: 100%;
  height: 1400px;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
}

.location_link{
  position: absolute;
  margin: 0;
  width: 100%;
  bottom: 830px;
  text-align: center;
}

  


/*# 11. Contact */
h2 {
  font: 28px/32px Nanum Myeongjo
}

h3 {
  font: 32px/40px Nanum Myeongjo
}

h3 b{
  font: 36px/44px Nanum Myeongjo
}

h4 {
  font: 28px/32px Nanum Myeongjo
}

h4 b{
  font: 28px/32px Nanum Myeongjo
}

h5 {
  font: 20px/28px Nanum Myeongjo
}

h5 b{
  font: 24px/32px Nanum Myeongjo
}

h6 {
  font : 10px/12px 
}

/*# 12. Accounts*/

.photo_a{
  background-size: 640px auto;
  width: 100%;
  height: 640px;
  position: relative;
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: scroll;
}

.account{
  background-size: 640px auto;
  width: 100%;
  height: 400px;
  position: relative;
  text-align: center;
  vertical-align: top;
}

.btn2 {
  font:500 20px Nanum Myeongjo;
  border-radius: 1;
  padding: 8px 6px;
  border: 1px solid gray;
  overflow: hidden;
  position: relative;
  background: none;
  min-width: 88px;
  min-height: 36px;
  transition: 0.5s all;
}

/*# 13. Responsive*/

@media (max-width: 375px) {
  .home_intro {
    background-size:375px auto;
    height:864px;
  }
  
  .photo1 {
    background-size: 375px auto;
    height:1464px;
  }

  .photo2 {
    background-size: 375px auto;
    height:1757px;
  }

  .photo_tp {
    background-size: 375px auto;
    height:375px;
  }

  .photo3_btn {
    position: absolute;
    margin: 0;
    width: 100%;
    bottom: 40px;
  }

  .btn {
    font:500 20px Nanum Myeongjo;
  }

  .photo_location {
    background-size: 375px auto;
    height:820px;
  }

  .location_link{
    bottom: 477px;
    text-align: center;
  }

  .map-icon{
    width: 40px;
  }

  h3 {
    font: 20px/28px Nanum Myeongjo
  }

  h3 b {
    font: 24px/32px Nanum Myeongjo
  }

  h4 {
    font: 20px/24px Nanum Myeongjo
  }

  h4 b{
    font: 20px/24px Nanum Myeongjo
  }

  h5 {
    font: 14px/18px Nanum Myeongjo
  }

  h5 b {
    font: 22px/30px Nanum Myeongjo
  }

  h6 {
    font : 10px/12px 
  }

  .tsicon {
    width : 35px;
  }

  .photo_a {
    background-size: 375px auto;
    height:375px;
    background-position: top;
  }

  .btn2 {
    font:500 12px Nanum Myeongjo;
    border-radius: 1;
    border: 1px solid gray;
    overflow: hidden;
    position: relative;
    background: none;
    min-width: 0;
    min-height: 0;
    transition: 0.5s all;
  }


}

@media (max-width: 360px) {
  .home_intro {
    background-size:360px auto;
    height:830px;
  }
  
  .photo1 {
    background-size: 360px auto;
    height:1406px;
  }

  .photo2 {
    background-size: 360px auto;
    height:1688px;
  }

  .photo_tp {
    background-size: 360px auto;
    height:360px;
  }

  .photo3_btn {
    position: absolute;
    margin: 0;
    width: 100%;
    bottom: 40px;
  }

  .btn {
    font:500 18px Nanum Myeongjo;
  }

  .photo_location {
    background-size: 375px auto;
    height:820px;
  }

  .location_link{
    bottom: 477px;
    text-align: center;
  }

  .map-icon{
    width: 37px;
  }

  h3 {
    font: 20px/28px Nanum Myeongjo
  }

  h3 b {
    font: 24px/32px Nanum Myeongjo
  }

  h4 {
    font: 18px/22px Nanum Myeongjo
  }

  h4 b{
    font: 18px/22px Nanum Myeongjo
  }

  h5 {
    font: 14px/18px Nanum Myeongjo
  }

  h5 b {
    font: 22px/30px Nanum Myeongjo
  }

  h6 {
    font : 10px/12px 
  }

  .tsicon0 {
    width : 35px;
  }
  .tsicon {
    width : 30px;
  }

  .photo_a {
    background-size: 375px auto;
    height:375px;
    background-position: top;
  }

  .btn2 {
    font:500 12px Nanum Myeongjo;
    border-radius: 1;
    border: 1px solid gray;
    overflow: hidden;
    position: relative;
    background: none;
    min-width: 0;
    min-height: 0;
    transition: 0.5s all;
  }

}